.wave{
    animation:var(--animeType,move) var(--time,3) linear infinite;
}

#waveDef{
    transform: translateY(var(--offsetY,50));
    transition: all 1s ease-in-out;
}

@keyframes move{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(700px);
    }
}

@keyframes move-reverse{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-700px);
    }
}