.wave{
    animation:move var(--time) linear infinite;
}

#waveDef{
    transform: translateY(var(--offsetY));
    transition: all 1s ease-in-out;
}

@keyframes move{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(700px);
    }
}