.wave{
    animation:var(--animeType,move) var(--time,3) linear infinite;
}

@keyframes move{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(700px);
    }
}

@keyframes move-reverse{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-700px);
    }
}